

body
{
background-color: black;
}
.heading
{
    color: aliceblue;
    text-align: center;
    background-image: url(banner.jpg);
    border-radius:20px;
}
.image 
{ 
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
   
}
.about
{
    
    
    text-align: left;
    border-radius: 10px;
}
.details
{
    
    
    display:flex;
    flex-wrap: wrap;
    border-radius: 50px;

}
.left
{
flex:30%;
background-color: skyblue;
border-radius: 20px;
}
.right
{
    flex: 70%;
    background-color:rgb(235, 122, 122);
    border-radius: 40px;
    
}



table,th,td {
      
      border: 1px solid black;
      
     
}

.skills
{
    border: 2px solid black;
    padding: 40px;
    margin: 20px;
}
.language
{
    border: 2px solid black;
    padding: 30px;
    margin: 20px;
}
.contact
{
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
 

