
body
{
    background-image: url(why.webp);
    background-size: 100%;
     
}

.mainheading
{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(22, 30, 46);
    letter-spacing: 2px;
    border-radius: 15px;
    padding:20px;
    width:1300px;
    background-image: url(past0.png);
       

}
.menu
{
    
    position: sticky;
    top: 0px;
    margin-top: 2%;
    border-radius: 15px;
    word-spacing: 50px;
    background-image: url(past1.jpg);
    background-size: 100%;
}
.navmenu
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: orangered;
    margin-left: 5%;
    display:inline-block;
    justify-content: space-around;
}

.image
{
    margin-left:30%;
    margin-top: 2%;
    border-radius: 10%;
}
.headbg
{
    text-align: center;
    margin-top: 10%;
    background-image: url(wakka.jpg);
    background-size: 100%;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(22, 7, 1);
}
.deetbg
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-image: url(neon.jpg);
   padding: 5%;
   
   
    background-size: 200%;
}

table,th,td 
{    
    border: 1px solid black;
    
}

.footer {
    text-align: center;
    word-spacing: 10px;
    padding: 5px;
    background-image: url(past0.png);
    background-size: 100%;
    color: white;
  }
  html {
    scroll-behavior: smooth;
  }



